.welcome {
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.plan-vaca, .create-vaca {
    margin: 0px 10px 5px 10px;
}

button:hover {
    border: 4px solid darkblue;
    text-shadow: 1px 1px lightgray;
}

.cat {
    margin: 5px;
    width: 200px;
    height: 200px;
    color: white;
    font-weight: 600;
    font-size: x-large;
    text-shadow: 2px 2px black;
    /* in case the images don't load properly */
    background-color: lightblue;
    border: 5px solid lightblue;
}

.cat:hover {
    font-size: xx-large;
    text-shadow: 3px 3px black;
}

.beach {
    background-image: url('../images/beach-image.jpg');
}

.group {
    background-image: url('../images/group-image.jpg');
}

.fam {
    background-image: url('../images/fair-image.jpg');
}

.nature {
    background-image: url('../images/nature-image.jpg');
}

.romantic {
    background-image: url('../images/roses-image.jpg');
}

.historic {
    background-image: url('../images/historic-image.jpg');
}

.card {
    float: left;
    margin: 5px;
    padding: 5px;
}

#activity-btn, #stay-btn {
    font-size: small;
    margin-bottom: 10px;
}